<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        h3 {
            color: red;
        }
    </style>
</head>
<body>
    <h1>HOME PAGE</h1>
    <h3>USA float number: {{ results.us_num }}</h3>
    <h3>Sweden float number: {{ results.se_num }}</h3>
    <h3>Germany float number: {{ results.de_num }}</h3>
    <hr>
    <h3>USA whole number: {{ results.us_whole }}</h3>
    <h3>Sweden whole number: {{ results.se_whole }}</h3>
    <h3>Germany whole number: {{ results.de_whole }}</h3>
</body>
</html>